.textfragment1{
    margin-left: 40%;
    margin-top: 10px;
    
}
.textfragment2{
    margin-left: 40%;
    margin-top: 20px;
    
}
.textfragment3{
    margin-left: 40%;
    margin-top: 30px;
    position: absolute;
}
.textfragment4{
    margin-left: 20%;
    margin-top: 32px;
    position: absolute;
}
.textfragment5{
    margin-left: 20%;
    margin-top: 190px;
    position: absolute;
}
.textfragment6{
    margin-left: 20%;
    margin-top: 350px;
    position: absolute;
}
.textfragment7{
    margin-left: 60%;
    margin-top: 30px;
    
}
.textfragment8{
    margin-left: 60%;
    margin-top: 30px;
    
}
